/* CUSTOM red */

body {
    background-color: #fdfdfe;
}

a {
    color: #dc1a28;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #dc1a28;
    text-decoration: none;
}

.bg-orange {
    background: #dc1a28 !important;
}

.btn-orange {
    color: #fff;
    background-color: #dc1a28;
    border-color: #dc1a28;
}

.btn-orange:hover {
     color: #fff;
     background-color: #dc1a28;
     border-color: #dc1a28;
 }

.btn-orange2:hover {
    color: #fff;
    background-color: #d70000;
    border-color: #d70000;
}

.btn-orange:focus, .btn-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 83, 13, 0.5);
}

.btn-orange.disabled, .btn-orange:disabled {
    color: #fff;
    background-color: #dc1a28;
    border-color: #dc1a28;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #121416;
}

.text-orange {
    color: #dc1a28 !important;
}

.text-white {
    color: #FFFFFF !important;
}

.page-item.active .page-link {
    background-color: #dc1a28;
    border-color: #dc1a28;
}

.page-link {
    color: #dc1a28;
}

.page-link:hover {
    color: #dc1a28;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 83, 13, 0.25);
}

/* CUSTOM */

.carousel {
    background-color: #000;
}

.carousel-overlay {
    opacity: 0.4;
}

.carousel-caption {
    text-align: left;
}

h2:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #C0C0C0;
    width: 140px;
}

h2:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #C0C0C0;
    width: 140px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.sm-wrapper {
    margin-top: 20px;
}

.sidemenu {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 40px;
    overflow-x: hidden;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sidemenu a {
    display: block;
    padding: 1rem 1rem;
    color: #fff;
}

.sidemenu .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 30px;
    color: #ffffff;
}

.sm-wrapper a:after {
    z-index: -1;
    position: absolute;
    left: 0;
    width: 0;
    height: 24px;
    content: '';
    transition: width 300ms ease;
}

.sm-wrapper a:hover {
    padding-left: 30px;
    transition: 300ms ease;
    background: #fff;
    color: #000;
}

#content {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

.btn-custom {
    padding: 1px 15px 3px 15px;
    background-color: #dc1a28;
}

.btn-custom2 {
    padding: 7px 160px 7px 160px;
    background-color: #dc1a28;
}

.btn-custom3 {
    padding: 7px 145px 7px 145px;
    background-color: #dc1a28;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    top: 5px;  
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    background-color: #dc1a28;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
